<% layout('./layouts/post.show-layout') -%>

<div class="container border border-light">
    <div class="col-md-12" style="height: 60vh; margin-top: 100px"> 
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <% services.images.forEach(function(image) { %>
          <div class="swiper-slide" style="background-image:url(<%= image.url %>)"></div>
          <% }) %>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <% services.images.forEach(function(image) { %>
          <div class="swiper-slide" style="background-image:url(<%= image.url %>)"></div>
          <% }) %>
        </div>
      </div>
    </div>
<hr>
 <main>
  <div class="row mt-5">
    <div class="col-md-8" style="color: #929090; padding-bottom: 20px;">
        <div class="caption px-2 pt-3"> 
            <h1 class="text-left"><strong><%=services.name%></strong></h1>
            <p><%- services.description%></p>
            <p style="color: gold; font-size: 18px;">     
            <% for(var i = 0; i < 5; i++) { %>
                <% if(i < floorRating) { %>
                    <i class="fas fa-star"></i>
                <% } else if((services.avgRating - i) > 0 && (services.avgRating - i) < 1) { %>
                    <i class="fas fa-star-half-alt"></i>
                  <% } else { %>
                   <i class="far fa-star"></i>
                  <% } %>
                <% } %>
             (<%= services.reviews.length %>)
    
        
              <%= services.createdAt %>
             <% if(services.isClaimed) { %>
               <p> <em>Submitted by: <a href="/users/profile/<%= services.author.id %>"> <%= services.author.username %> </a>, <%= moment(services.createdAT).fromNow() %></em></p> 
               <% } else { %>
               <p> Listing is unclaimed please click here to claim it!<p>
               <% } %>
                </div>    
            </p>    
            <% if(currentUser && services.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>      
                <a class="btn btn-outline-warning float-left mr-1" href="/services/<%=services.id%>/edit">Edit</a>
                <form id="delete-btn" action="/services/<%= services.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger" onclick="return confirm('Are you absolutely sure you want to delete?')">Delete</button>
                </form>   
                <% } %>
    </div>
    <div class="col-md-4">
        <div id="map"></div>
        <br>
        <div class="serviceInfo  px-2 py-2">
        <h3><strong><em><u>Shop Info</strong></em></u></h3>
        <% if(services.location.length < 10) { %>
          <p>  <strong>Location : </strong> Mobile/Online Services </p>
             <%   } else { %>
          <p><i class="fas fa-map-marker-alt"></i> Address : <%= services.location%> <%=services.country%> <%= services.postcode%></p>
          <% } %>
          <% if(services.floorNo.length && services.unit.length === 0) { %>
                  <p> - <p>
               <% } else { %>
         <p>#<%= services.floorNo %>-<%=services.unit %></p>
                <% } %>

                <% if(services.email.length === 0 ) { %>
                 <p><span><i class="far fa-envelope"></i> - <span></p>
                 <% } else { %>
           <p> <span><i class="far fa-envelope"></i> <%=services.email%><span> <p>
            <% } %>
             <p> <i class="fas fa-phone-square"></i> +65 <%= services.tel %> </p>
            
             <a href="<%= services.url%>"><%= services.url %></a>   
  
        </div>   
    </div>
  </div>   
  </main>
                
            <!--COMMENT SECTION START-->
<div class="well mb-5 mt-5">
        <!--Setting up the add new comment button that is used for collapsing-->
        <div class="text-right">
          <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new review</a>
        </div>
      </div>
         <!--Comment section title-->

  <!--Collapse Add a comment form START-->
  <div class="collapse" id="collapseComment">
    <div class="well" style="border-left: 5px solid rgb(93, 84, 219);">
        <% if(!currentUser) { %>
      <!--If the user is not logged in, direct him to the login page-->
      <h5>You need to login before you can comment. <a href="/users/login">Click here</a> to go to the login page.</h5>
        <% } %>
        <% if(currentUser) { %>
      <!--If the user is logged in, show the new comment form-->
      <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
      <form id="add-comment-form" action="/services/<%= services._id %>/reviews" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="review[body]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
        </div>
        <div class="div">
                <fieldset class="starability-basic">
                        <legend>Rating:</legend>
                        <button class="clear-rating" type="button">Clear Rating</button>
                        <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="rate1" name="review[rating]" value="1" />
                        <label for="rate1" title="Terrible">1 star</label>
                        <input type="radio" id="rate2" name="review[rating]" value="2" />
                        <label for="rate2" title="Not good">2 stars</label>
                        <input type="radio" id="rate3" name="review[rating]" value="3" />
                        <label for="rate3" title="Average">3 stars</label>
                        <input type="radio" id="rate4" name="review[rating]" value="4" />
                        <label for="rate4" title="Very good">4 stars</label>
                        <input type="radio" id="rate5" name="review[rating]" value="5" />
                        <label for="rate5" title="Amazing">5 stars</label>
                      </fieldset>
        </div>
        
        <div class="form-group">
          <button class="btn btn-success btn-sm">Add Reviews <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
        </div>
      </form>
        <% } %>
        <hr>
    </div>
  </div>
  <!--Check if there are comments, if there are none say no comments.-->
    <% if (services.reviews.length === 0) { %>
  <em style="color: grey;">No reviews yet.</em>
    <% } %>

  <!--Display comments by looping through them-->

    <% services.reviews.forEach(function(review) { %>
    <div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="<%=review.author.local.images.url%><%= review.author.facebook.avatar %>" class="img-circle avatar" alt="<%=review.author.name%>">
                    </div>
                    <div class="float-left">
                        <div class="title h5">
                            <a href="/users/profile/<%=review.author.id%>"><b><%=review.author.local.username%><%=review.author.facebook.name%></b></a>
                        </div>
                 
                        <h6 class="text-muted time"><%= moment(review.createdAT).fromNow() %></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p class="starability-result" data-rating="<%=review.rating%>"></p>
                    <p><%=review.body%></p>
                  
                    <% if(review.author.equals(currentUser)) { %>
                      <!--Edit button used for collapsing the edit comment form-->
                    <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= review._id %>" aria-expanded="false" aria-controls="collapse<%= review._id %>">
                      Edit</a>
                      <form id="delete-form" action="/services/<%= services._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-xs btn-danger">Delete</button>
                      </form>
                </div>
            </div>
        </div>
    
      <!--Edit comment form-->
      <div class="col-md-12">
      <div class="collapse" id="collapseEdit<%= review._id %>">
        <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
          <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
          <form id="edit-comment-form<%= review._id %>" action="/services/<%= services._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="review[body]" placeholder="Your comment text..." form="edit-comment-form<%=review._id %>" rows="5" cols="70"><%= review.body %></textarea>
            </div>
            <div>
                    <fieldset class="starability-basic">
                            <h5>Rating:</h5>
                            <button class="clear-rating" type="button">Clear Rating</button>
                            <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                            <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                            <label for="edit-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                            <label for="edit-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                            <label for="edit-rate3" title="Average">3 stars</label>
                            <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                            <label for="edit-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                            <label for="edit-rate5" title="Amazing">5 stars</label>
                          </fieldset>
            </div>
            <div class="form-group">
              <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>
            <script>
                    $('#edit-rate<%= review.rating %>').prop('checked', true);
                   </script>  
          </form>
        </div>
      </div>
        <% } %>
    </div>
  </div>
  </div>
    <% }) %>
</div>
<!--COMMENT SECTION END-->


<script>
	var services = <%- JSON.stringify(services) %>;
	var mapBoxToken = "<%= mapBoxToken %>";
</script>

